{% extends 'base.html' %}
{% block title %}Update Student{% endblock title %}
{% block content %}
<form action="/student/{{student.student_id}}/update" method="POST" id="update-form">
  <div>
    <label>Roll Number:</label>
    <input type="text" name="roll" value="{{ student.roll_number }}" disabled />
  </div>
  <div>
    <label>First Name:</label>
    <input type="text" name="f_name" value="{{ student.first_name }}" required />
  </div>
  <div>
    <label>Last Name:</label>
    <input type="text" name="l_name" value="{{ student.last_name }}" />
  </div>
  <div>
    <label>Select Courses: </label>
    <input type="checkbox" name="courses" value="course_1" />
    <label>MAD I</label>
    <input type="checkbox" name="courses" value="course_2" />
    <label>DBMS</label>
    <input type="checkbox" name="courses" value="course_3" />
    <label>PDSA</label>
    <input type="checkbox" name="courses" value="course_4" />
    <label>BDM</label>
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>
{% endblock content %}