<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enter Details</title>
  </head>
  <body>
    <h1>Enter the details</h1>

    <form action="/" method="POST">
      <input type="radio" name="type" value="student" />
      <label for="student">StudentID</label>
      <input type="radio" name="type" value="course" />
      <label for="teacher">CourseID</label>
      <input type="text" name="roll" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
